 body {
        background: #2b7786;
      }
      h1,
      h2,
      h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }
      p,
      .physical,
      .mental,
      .relational {
        font-family: "Ubuntu", sans-serif;
        margin: 15px 0;
        line-height: 1.3;
      }
      img {
        max-width: 100%;
        border-radius: 5px;
      }
      button {
        margin: 20px auto;
        display: block;
        font-family: "Ubuntu", sans-serif;
        font-size: 13px;
        padding: 12px 10px;
        border-radius: 10px;
        border-style: ridge;
        border-width: 5px;
        transition: all 200ms ease-in-out;
        box-shadow: 2px 10px 20px 0.8px black;
      }
      footer {
        text-align: center;
        font-family: monospace;
        font-size: 18px;
        margin: 15px;
      }
      button:hover {
        cursor: pointer;
      }
      .content {
        background: #b0d681;
        max-width: 650px;
        border-radius: 30px;
        padding: 15px 25px;
        margin: 10px auto;
      }
      .dark {
        background-color: black;
        color: white;
        border-color: #7b213f;
      }
      .hikingTrails {
        background-color: #7b213f;
        border-color: white;
        color: white;
      }
      .dark:hover {
        background-color: white;
        color: black;
      }
      .hikingTrails:hover {
        background-color: #2b7786;
        color: black;
      }
      .hiking2,
      .hiking3,
      .hiking4 {
        transition: all 400ms ease-in-out;
        filter: contrast(12%);
        margin-bottom: 25px;
      }
      .hiking5 {
        transition: all 3000ms ease-in-out;
        transform: scale(0.8) rotate(25deg);
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
      }
      .hiking5:hover {
        transform: scale(1.1) rotateZ(360deg);
      }
      .hiking2:hover,
      .hiking3:hover,
      .hiking4:hover {
        filter: contrast(100%);
        transform: scale(1.05);
      }
      .benefits {
        color: #7b213f;
      }
      .linkedin {
        color: #7b213f;
      }
      .benefits:hover {
        text-transform: uppercase;
        text-decoration: none;
      }
      .collage {
        margin: 0 auto;
        display:block;
      }
      .collage img {
        width: 200px;
      }
      .overlooking-city {
        transform: translate(12px) rotateZ(-30deg) scale(0.8);
      }
      .family {
        transform: rotateZ(30deg);
      }
      .man-with-hands-overhead {
        transform: rotateX(200deg) rotateY(161deg) rotateZ(45deg)
          translateY(-28px);
      }
      .elderly {
        transform: rotateZ(39deg) translate(40px, -51px);
      }
      .women-woods {
        transform: rotateY(22deg) rotateZ(108deg) translate(15px, 20px);
      }
      .oscuro .benefits,
      .oscuro .linkedin {
        color: #fff;
      }
      .oscuro {
        background: linear-gradient(
          170deg,
          rgb(12, 9, 54) 81%,
          rgb(12, 9, 54) 83%,
          rgb(68, 40, 107) 100%
        );
        color: #fff;
      }
      .oscuro .content {
        background: rgb(6, 13, 76) 24%;
      }